@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using VideoOnDemand.Web.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Video On Demand!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#111111; color:white;">
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:rgba(26,35,45,0.85); height:110" role="navigation">
        <div class="container">
            
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Content/Media/Prime_Video_rip-off.png" style="width: 150px; height: 50px"  alt="">
                </a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @*@Html.ActionLink("Video On Demand!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                    
                    @if (Request.IsAuthenticated)
                    {
                        //<li class="nav-item active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        //<li class="nav-item">@Html.ActionLink("Películas", "Index", "Pelicula")</li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/Pelicula/Index">Pel&iacute;culas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/SeriePrincipal/Index">Series</a>
                        </li>


                        //<li class="nav-item">@Html.ActionLink("Series", "Index", "SeriePrincipal")</li>

                        var user = User.Identity;
                        var context = new ApplicationDbContext();
                        var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
                        var s = UserManager.GetRoles(user.GetUserId());
                        //si es admin mostrar el menu administrar
                        if (s[0].ToString() == "Admin")
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" 
                                   aria-haspopup="true" 
                                   aria-expanded="false">Cat&aacute;logos <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">@Html.ActionLink("Películas", "Index", "ManagePelicula")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Series", "Index", "Serie")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Generos", "Index", "Genero")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Actores", "Index", "Persona")</li>
                                </ul>
                            </li>
                        }
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <br />
    
    <div class="container body-content">
        <br />

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VideoOnDemand</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
