@model VideoOnDemand.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Nueva película</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" >
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Duración", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuracionMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuracionMin, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Fecha lanzamiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.FechaDeLanzamiento, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.FechaDeLanzamiento, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div>
            <label>Generos</label>
            @Html.ValidationMessageFor(model => model.GenerosSeleccionados, "", new { @class = "text-danger" })
            @foreach (var item in Model.GenerosDisponibles)
            {
                var seleccionado = "";
                //activar el checkbox si de los generos disponbles existe en los temas seleccionados

                if (Model.GenerosSeleccionados != null)
                {
                    if (Model.GenerosSeleccionados.Contains(item.Id.Value))
                    {
                        seleccionado = "checked";
                    }
                }

                <div class="checkbox">
                    <label>
                        <input name="GenerosSeleccionados" type="checkbox" value="@item.Id.Value.ToString()" @seleccionado>@item.Nombre
                    </label>
                </div>

            }
        </div>

        <div>
            <label>Actores</label>
            @Html.ValidationMessageFor(model => model.ActoresSeleccionados, "", new { @class = "text-danger" })
            @foreach (var item in Model.ActoresDisponibles)
            {
                var seleccionado = "";
                //activar el checkbox si de los actores disponbles existe en los temas seleccionados

                if (Model.ActoresSeleccionados != null)
                {
                    if (Model.ActoresSeleccionados.Contains(item.Id.Value))
                    {
                        seleccionado = "checked";
                    }
                }

                <div class="checkbox">
                    <label>
                        <input name="ActoresSeleccionados" type="checkbox" value="@item.Id.Value.ToString()" @seleccionado>@item.Nombre
                    </label>
                </div>

            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>        

    </div>
    

}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
