@model VideoOnDemand.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Eliminar Película";
}

<h2>¿Desea eliminar este registro?</h2><br>

<div>

        <div class="card rounded" style="color:black;">

            <div class="card-header">
                <h4 style="font-weight:bold">Nombre</h4> @Html.DisplayFor(model => model.Nombre)
            </div>
            <div class="card-body">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuracionMin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DuracionMin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaDeRegistro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaDeRegistro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaDeLanzamiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaDeLanzamiento)
                </dd>

            </dl>
            </div>

            <div class="card-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
                        <a href="/ManagePelicula" class="btn btn-primary">Regresar a la lista de películas</a>
                    </div>
                }
            </div>
        </div>

    
</div>
