@model VideoOnDemand.Web.Models.PaginatorViewModel<VideoOnDemand.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .links {
            color:black;
            font-weight: bold;
        }
    </style>
</head>

<h2>Administrar Películas</h2>

<form class="form-inline">
    <div class="row">

        <div class="col-md-5" style="margin-right:8px">
            <input class="form-control " type="text" placeholder="Nombre de la película" aria-label="Search" name="Search">
        </div>

        <div class="col-md-3">
            <select id="genero" name="genero" class="form-control">
                @if (String.IsNullOrEmpty(ViewBag.Genero))
            {
                    <option value="">Género</option>
                }
                else
                {
                    <option value=@ViewBag.Genero>@ViewBag.Genero</option>
                    <option value="">Género</option>
                }

                @foreach (var genero in (List<string>)ViewBag.ListaGeneros)
            {
                    <option value="@genero">@genero</option>
                }
            </select>
        </div>
        
        <div class="col-md-1">
            <label></label>
            <button class="btn btn-elegant btn-rounded" type="submit" value="Buscar">Buscar</button>
        </div>
    </div>
</form>
<br>

<a style="color:white; font-weight:bold ;" href="/ManagePelicula/Create">Crear película</a><br>


    <table class="table table-light table-striped rounded" style="color:black;">
        <tr>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Duración")
            </th>
            <th>
                @Html.DisplayName("Fecha lanzamiento")
            </th>
            <th>
                @Html.DisplayName("Acciones")
            </th>
        </tr>

    @foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeLanzamiento)
            </td>
            <td>
                <a class="links" href="/ManagePelicula/Edit/@item.Id">Editar</a> |
                <a class="links" href="/ManagePelicula/Delete/@item.Id">Eliminar</a>
            </td>
        </tr>
    }

    </table>