@using VideoOnDemand.Web.Models
@model IEnumerable<VideoOnDemand.Web.Models.TemporadaViewModel>


@{
    ViewBag.Title = "Details";

}

<style>
    .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
</style>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <input hidden id="auxId" value=""/>
                <button id="btnCloseVideo" onclick="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="videoOnPlay" class="embed-responsive-item" controls>
                            <source src="~/Content/Media/video.mp4" type="video/mp4" />
                        </video>

                    </div>
                </div>
                <br />
                
                <input id="hdnUrlGetOnPlay" type="hidden" value="@Url.Action("GetOnPlay", "MediaOnPlay")" />
                <input id="hdnUrlAgregarOnPlay" type="hidden" value="@Url.Action("AgregarOnPlay","MediaOnPlay")"/>
            </div>

        </div>
    </div>
</div>

<h2>&nbsp;&nbsp;&nbsp;Detalles</h2>
<br />

<div class="container" style="height: auto">

    <div class="container float-lg-left" style="width: auto;">
        <img src="~/robot.jpg" alt="robot" class="img-fluid" />
    </div>

    <div class="container-fluid" style="width: 500px;">

            <input type="hidden" id="serieId" value="@ViewBag.SerieDetalle.Id" />
            <input type="hidden" id="usuarioId" value="@ViewBag.UsuarioId" />
        @{
            var date = @Convert.ToDateTime(ViewBag.SerieDetalle.FechaDeLanzamiento);
            date = date.ToString("yyyy");
            <h4>@(ViewBag.SerieDetalle.Nombre) (@(date)) </h4>
        }
            
        <br />
        <label><b>Temporada:</b></label> <label id="numTemporada">1</label>
        <br />
        <label> <b> Descripcion: </b> @ViewBag.SerieDetalle.Descripcion </label>
        <br />

        <label> <b> Generos: </b>
        </label>
     @{

         var comaGeneros = "";



         foreach (var item in ViewBag.SerieDetalle.Generos)
         {

            <label>@comaGeneros @(item.Nombre)</label>
             comaGeneros = ",";
         }
    }
           
        <br />

        <label> <b> Actores: </b></label>

        @{
            var comaActores = "";
            foreach (var item in ViewBag.SerieDetalle.Actores)
            {
                <label>@comaActores @item.Nombre</label>
                comaActores = ",";
            }
        }
        

    </div>

    

    <div style="clear:both">

    </div>
</div>
<br />
<hr style="height: 1px; color: black"/>
<br />

<div class="container-fluid">
    <ul class="nav nav-tabs" id="tabsSerie">

        @{
            var active = "active";

            foreach (var item in Model)
            {
                <li class="nav-item ">
                    <a class="nav-link @active" data-toggle="tab"
                       href="#t@(item.Temporada)">Temporada @(item.Temporada)</a>
                </li>

                active = "";
            }

        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <br />
        @{
            var active2 = "show active";

            foreach (var item in Model)
            {

                <div class="tab-pane fade @(active2)" id="t@(item.Temporada)">

                    <div class="card-deck">

                        @foreach (var epi in item.Episodios)

                        {
                            <div class="col-lg-3">

                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color:black">@epi.Nombre</h5>
                                        <p class="card-text" style="color:black">@(epi.DuracionMin) min.</p>
                                        <button onclick="cargarModal(@epi.Id)" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Reproducir</button>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

                active2 = "";
            }
        }
    </div>

</div>

<br />

@{Html.RenderPartial("_Opiniones");

}

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/opinion.api.js"></script>
    <script src="~/Scripts/mediaOnPlay.api.js"></script>

    <script>
        $('#tabsSerie').on("click", "li", function (event) {
            var activeTab = $(this).find('a').attr('href');
            activeTab = activeTab.replace(/#t/g,"");
            $('#numTemporada').text(activeTab);
            
        });
    </script>

}



