@model IEnumerable<VideoOnDemand.Web.Models.SerieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Administrar serie</h2>

<p>
    @Html.ActionLink("Agregar serie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuracionMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaDeLanzamiento)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuracionMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeLanzamiento)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Episodios", "EpisodesIndex", new { id=item.Id })
        </td>
    </tr>
}

</table>
