@model IEnumerable<VideoOnDemand.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Administrar Películas</h2>

<p>
    @Html.ActionLink("Crear nueva película", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayName("Duración")
        </th>
        <th>
            @Html.DisplayName("Fecha lanzamiento")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuracionMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeLanzamiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
