@model IEnumerable<VideoOnDemand.Web.Models.PersonaViewModel>


@{
    ViewBag.Title = "Index";
}


<h2>Administrar actores</h2>

<p>
    @Html.ActionLink("Agregar actor", "Create")
</p>
@using (Html.BeginForm("Index", "Persona", FormMethod.Get))
{
    <p>
        <input type="text" name="Search" placeholder= "Nombre de Actor">
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Nombre:
        </th>
        <th>
            Descripción:
        </th>
        <th>
            Fecha de Nacimiento:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
