@model IEnumerable<VideoOnDemand.Web.Models.PersonaViewModel>


@{
    ViewBag.Title = "Index";
}


<h2>Personas</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
@using (Html.BeginForm("Index", "Persona", FormMethod.Get))
{
    <p>
        Nombre: <input type="text" name="Search">
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
